<ul>
  <%= h(flash[:success]) %>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li class="row">
        <div class="col-sm-2">
          <% if comment.user.image.url %>
            <img src=<%= comment.user.image %> class = "icon_image">
          <% end %>
        </div>
        <div class="col-sm-10">
            <h4>改善前：<%= comment.before_point %>%</h4>
            <p><%= comment.before_content %></p>
            <h4>改善後：<%= comment.after_point %>%</h4>
            <p><%= comment.after_content %></p>
            <%= link_to '編集', edit_comment_path(comment.id) %> |
            <%= link_to '削除', comment_path(comment.id), method: :delete, remote: true, data: { confirm: '削除しますか？' } %>
        </div>

      </li>
      <Hr>
    <% end %>
  <% end %>
</ul>
