<%= form_with(model: coping) do |form| %>

  <div class="field">
    <p><%= form.label :coping_repertory %></p>
    <p><%= form.text_area :coping_repertory, id: :coping_coping_repertory, size: "30x2" %></p>
  </div>

  <div class="field">
    <%= form.label :soon %>
    <%= form.check_box :soon, id: :coping_soon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
