<%= form_with(model: coping) do |form| %>

  <div class="field">
    <%= form.label :coping_repertory %>
    <%= form.text_area :coping_repertory, id: :coping_coping_repertory, size: "100x5" %>
  </div>

  <div class="field">
    <%= form.label :soon %>
    <%= form.check_box :soon, id: :coping_soon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
