<p><%= h(flash[:success1]) %></p>
<p><%= h(flash[:success2]) %></p>
<ul class="row">
  <% unless copings.nil? %>
    <% copings.each do |coping| %>
      <% if coping.id.present? %>
        <li class="col-md-4">
          <div>
            <h4><%= coping.coping_repertory %></h4>
            <p><%= coping.soon ? 'すぐできる' : 'すぐできない' %></p>
            <p><%= link_to '削除', coping_path(coping.id), method: :delete, remote: true, data: { confirm: '削除しますか？' } %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
