<div class="container text-center">
    <!-- <div class="row"> -->
      <% if current_user.try(:admin?) %>
        <p>管理者 : <%= @user.name %>さんのページ</p>
      <% else %>
        <p>ユーザー : <%= @user.name %>さんのページ</p>
      <% end %>
    <!-- </div> -->

  <% if @user.image.url %>
    <img src=<%= @user.image %> class = "icon_image">
  <% end %>

  <%= area_chart [
    { name: "ストレス軽減前", data: @chart_data_1 },
    { name: "ストレス軽減後", data: @chart_data_2 }],
      stacked: false,
      colors: ["#FFFF33", "#99FFFF"],
      xtitle: "日付け (日)",
      ytitle: "ストレス度 (%)",
      discrete: true,
      messages: {empty: "データがありません"} %>

  <h3>最新のストレス軽減度</h3>
  <% if @chart_data_1.present? || @chart_data_2.present? %>
    <% if (@chart_data_1.values.last - @chart_data_2.values.last) >= 0 %>
      <%= @chart_data_1.keys.last %> : <%= @chart_data_1.values.last.floor - @chart_data_2.values.last.floor %>%減少
    <% else %>
      <%= @chart_data_1.keys.last %> : <%= @chart_data_2.values.last.floor - @chart_data_1.values.last.floor %>%増加
    <% end %>
  <% else %>
    <p>まだ登録されていません</p>
  <% end %>

  <Hr>

    <div id="comments_area">
      <%= render partial: 'users/coping', locals: { random_my_true_coping: @random_my_true_coping } %>
    </div>

    <button type="button" class="btn btn-success"><%= render partial: 'users/link', locals: { user: @user } %></button>

  <Hr>
</div>
