<%= form_with(model: creation_date, local: true) do |form| %>
  <% if creation_date.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% creation_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless creation_date.errors.any? %>
    <p><%= h(flash[:success]) %></p>
  <% end %>

  <div class="field">
    <p><%= form.label :date %></p>
    <p><%= form.date_field :date, id: :creation_date_date %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
