<div class="container text-center">

  <h3><%= link_to 'ストレス認識改善を行う', new_creation_date_path %></h3>

  <table align="center">
    <thead>
      <tr>
        <th class="col-md-3">日付け</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @creation_dates.each do |creation_date| %>
        <tr chass="row">
          <td class="col-md-3"><%= creation_date.date %></td>
          <td><button type="button" class="btn btn-success btn-sm"><%= link_to 'ストレス認識変更の確認', creation_date %></td>
          <td><button type="button" class="btn btn-warning btn-sm"><%= link_to '日付け変更', edit_creation_date_path(creation_date) %></td>
          <td><button type="button" class="btn btn-danger btn-sm"><%= link_to '削除', creation_date, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
